.card {
    background: var(--ui-secondary); /* TODO: Find background for light theme */
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

@media (min-width: 576px) {
    .card.image {
        border-radius: 5% 0 0 5%;
    }
}

@media (prefer-color-scheme: 'dark') {
    .card { background: var(--ui-secondary); }
    .card.text,
    .card.subittle { color: white; }
}

.card.image {
    border-radius: 5% 5% 0 0;
}

.card.text,
.card.subtitle { color: black; }

.card.text {
    font-size: 1.125rem;
    font-weight: 700;
}

.card.subtitle {
    font-size: 0.75rem;
    font-weight: 600;
}