.card {
    background: var(--ui-secondary); /* TODO: Find background for light theme */
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    margin: .5em .5em;
}

.card > .text {
  margin: 1em 1em;
}

@media (min-width: 576px) {
    .card > img { border-radius: 0.75rem 0 0 0.75rem; }
    .card > h2 { font-size: 1.75rem; }
}

@media (prefers-color-scheme: 'dark') {
    .card { background: var(--ui-secondary); }
    .card.text { color: white; }
}

.card > img {
  border-radius: 0.75rem 0.75rem 0 0;
  max-width: 100%;
  width: 100%;
}

.card > h2,
.card > p {
  margin: 0;
  text-align: left;
}

.card > h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.card > p {
  font-size: 1.25rem;
  font-weight: 500;
}
