.card {
    background: var(--ui-nqb); /* TODO: Find background for light theme */
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    margin: .5em .5em;
}

.card > .text {
  margin: 1em 1em;
}

.card > img {
  border-radius: 0.75rem 0.75rem 0 0;
  max-width: 100%;
  width: 100%;
}

@media (min-width: 576px) {
  .card {
    flex-direction: row;
  }
  .card > img {
    border-radius: 0.75rem 0 0 0.75rem;
    max-width: auto;
    width: auto;
    max-height: 75%;
    height: 75%;
  }
  .card > h2 { font-size: 1.75rem; }
  .card > .text { margin: 1rem 1rem; }
}

@media (prefers-color-scheme: dark) {
  .card { background: var(--ui-nqw); }
  .card > .text { color: black; }
}


.card > text > h2,
.card > text > p {
  margin-top: .5rem;
  margin-bottom: .5rem;
  text-align: left;
}

.card > h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.card > p {
  font-size: 1.25rem;
  font-weight: 500;
}
