:root {
    --ui-primary: #08B2E3;
    --ui-primary-hover: #1197d4;
    --ui-primary-disabled: #94ccdb;

    --ui-secondary: #3E4E50;
    --ui-success: #20BF55;
    --ui-error: #FF636E;
    --ui-error-hover: #FF4D4D;
    --ui-warning: #ECD444;
    --ui-info: #00C6E0;

    --ui-nqw: #FAFAFA;
    --ui-nqb: #131313;

    --ui-mono-bg-hover: #2c2c2c;
    --ui-mono-bg-hover-dark: #FAFAFA;
    --ui-mono-bg-disabled: #303030;
    --ui-mono-bg-disabled-dark: #eeeeee;
}
