:root {
    --ui-primary: #08B2E3;
    --ui-primary-hover: #0946e2; /* analogous with primary */
    --ui-secondary: #3E4E50;
    --ui-success: #20BF55;
    --ui-error: #FF636E;
    --ui-warning: #ECD444;
    --ui-info: #00C6E0;
}