@import './variants/button.css'; /* Imports other variants from « ./variants/button/* » */

/* Should be used with <a> */
.button {
    text-decoration: none;
    background: var(--ui-primary);
    color: black;
    padding: .75rem 1rem;
    margin: 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    text-align: center;
    border-radius: 0.75rem;
    transition-property: background-color,
                         border-color,
                         color,
                         fill,
                         stroke,
                         opacity,
                         box-shadow,
                         transform,
                         filter,
                         backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    max-width: 100%;
}

.button[disabled],
.button[aria-disabled=true],
.button[disabled]:hover,
.button[aria-disabled=true]:hover
.button[disabled]:focus,
.button[aria-disabled=true]:focus {
  background: var(--ui-primary-disabled);
}

.button:hover,
.button:focus {
    background: var(--ui-primary-hover);
}
