/* Should be used with <a> */
.button {
    text-decoration: none;
    background: var(--ui-primary);
    color: black;
    padding: .75rem .5rem;
    margin: 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    text-align: center;
}

.button.mono {
  background: black;
  color: white;
}

.button[disabled],
.button[aria-disabled=true],
.button[disabled]:hover,
.button[aria-disabled=true]:hover {
  background: var(--ui-primary-disabled);
}

@media (prefers-color-scheme: 'dark') {
  .button.mono {
    background: white;
    color: black;
  }
}

.button:hover,
.button:focus {
    background: var(--ui-primary-hover);
}
