/* Should be used with <a> */
.button {
    text-decoration: none;
    background: var(--ui-primary);
    color: black;
    padding: .75rem .5rem;
    margin: 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    text-align: center;
    border-radius: 0.75rem;
    font-family: 'Inter var experimental', 'Inter var', 'Inter', sans-serif;
    transition-property: background-color,
                         border-color,
                         color,
                         fill,
                         stroke,
                         opacity,
                         box-shadow,
                         transform,
                         filter,
                         backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    max-width: 100%;
}

.button.mono {
  background: black;
  color: white;
}
.button.mono:hover {
  background: var(--ui-mono-bg-hover);
}

.button.mono[disabled],
.button.mono[aria-disabled=true],
.button.mono[disabled]:hover,
.button.mono[aria-disabled=true]:hover {
  background: var(--ui-mono-bg-disabled);
}

@media (prefers-color-scheme: 'dark') {
  .button.mono {
    background: white;
    color: black;
  }
  .button.mono:hover {
    background: var(--ui-mono-bg-hover-dark);
  }
  .button.mono[disabled],
  .button.mono[aria-disabled=true],
  .button.mono[disabled]:hover,
  .button.mono[aria-disabled=true]:hover {
    background: var(--ui-mono-bg-disabled-dark);
  }
}

.button[disabled],
.button[aria-disabled=true],
.button[disabled]:hover,
.button[aria-disabled=true]:hover {
  background: var(--ui-primary-disabled);
}

.button:hover,
.button:focus {
    background: var(--ui-primary-hover);
}
