html,
body {
  font-family:
    'Inter var experimental',
    'Inter var',
    'Inter',
    sans-serif;
}

h1 {text-align: center; }

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
}
